.mySwiper {
  width: 80%;

}

.mySwiper-head {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.navbar {
  width: 100%;
}

.nav__menu_bar {
  display: none;
}

.menubar {
  display: none;
}


li {
  font-size: 16px;
  color: #000;
  font-weight: bold;

}

.mySwiper img {
  width: 100%;
  height: 100%;
}

.logo {
  height: 80px;
}

.mySwiper h3 {
  color: #000;
  font-size: 18px;
  margin-top: 10px;
}

.mySwiper h2 {
  color: #ff0000;
  font-size: 20px;
  margin-top: 5px;
}

.swiper-container {
  padding: 20px;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, rgb(255, 201, 14), white);
}



.famous-events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 15px;
}

.card {
  max-width: 400px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}


.card-container {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 390px;
  box-shadow: 0 0 10px black;
  border-radius: 0 10px 10px 0;
}

.card-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 390px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.412), rgba(0, 0, 0, 0.648));
  transition: all 0.3s;
  border-top-right-radius: 10px;
}

.card-description h1 {
  font-size: 19px;
  color: white;
  margin-top: 90px;
}

.card-description p {
  font-size: 16px;
  color: rgb(213, 213, 213);
}

.card-description h3 {
  color: var(--lighter);
}

.card-description:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.064));
  color: transparent;
}

.check-out {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  text-align: center;
  border-bottom-right-radius: 10px;
  color: white;
  transition: all 0.2s;
}

.check-out:hover {
  background-color: var(--lighter);
  font-size: 25px;
}




.mt-8 {
  font-size: 30px;
  font-weight: bold;
  color: #aaeef9;
  margin-left: 30px;
  color: #000000;

}

.mt-8-first {
  font-size: 30px;
  font-weight: bold;

  margin-left: 30px;
  color: #000000;
  /* transform:translateX(20px) */

}

.famous {
  background-image: url("../../img//vector2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.concerts {
  background-image: url("../../img//vector2.png");
  background-repeat: no-repeat;
  background-size: cover;

  background-position: 100%;
}

.museum {
  background-image: url("../../img//vector2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.sport {
  background-image: url("../../img//vector2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.theatre {
  background-image: url("../../img//vector2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.back-btn {
  color: black;
}

.forward-btn {
  color: black;
}

.container {
  min-width: 100%;
}

@media (max-width: 991px) {
  .mySwiper {
    width: 100%;
  }

  .card {
    max-width: 500px;
  }

  .card-container {
    height: 350px;
  }

  .card-description {
    height: 350px;
  }

  .card-description {
    height: 450px;
  }

  .card-description h1 {
    font-size: 22px;
    margin-top: 120px;
  }

  .card-description p {
    font-size: 18px;
  }

  .navbar {
    width: 100%;

  }

  .container {
    min-width: 100%;

  }

  .li {
    display: none;
  }

  .nav__menu_bar {
    display: block;
    margin: 0 30px;
    font-size: 30px;
  }

  .menubar {
    display: block;
  }

  .text-2xl {
    font-size: 30px;
  }




}

@media (max-width: 767px) {
  .mySwiper {
    width: 100%;
  }

  .card-container-main {
    width: 100%;
  }

  .card {
    max-width: 400px;
  }

  .card-container {
    height: 380px;
  }

  .card-description {
    height: 380px;
  }


  .card-description {
    height: 480px;
  }

  .card-description h1 {
    font-size: 26px;
    margin-top: 140px;
  }

  .card-description p {
    font-size: 20px;
  }

  .container {
    min-width: 100%;
  }

  .li {
    display: none;
  }

  .nav__menu_bar {
    display: block;
    margin: 0 30px;
    font-size: 20px;
  }

  .menubar {
    display: block;
  }

  .text-2xl {
    font-size: 20px;
  }



}

@media (min-width: 992px) and (max-width: 1279px) {
  .mySwiper {
    width: 100%;
  }

  .card {
    max-width: 100%;
  }

  .card-container {
    height: 390px;
  }

  .card-description h1 {
    font-size: 19px;
    margin-top: 90px;
  }

  .card-description p {
    font-size: 16px;
  }

  .swiper-slide {
    width: 50%;
    height: 390px;
  }

  .container {
    min-width: 100%;
  }
}

#footer-top {

  background-color: rgb(255, 201, 14);
  color: #344151;
  text-align: center;
}

#footer-top h4 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: bold;
}

#footer-top p {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;

}

#footer-top .location,
#footer-top .icon {
  margin-bottom: 35px;
}

#footer-top .icon a {
  color: #344151;
  text-decoration: none;
  border-radius: 50%;
  font-size: 20px;
  height: 55px;
  width: 55px;
  line-height: 0;
  margin: 0 4px;
}

#footer-top .icon a:hover {
  color: #000;
  margin-top: -5px;
}

#footer-top .freelance a {
  font-size: 18px;
}

#footer-bottom {
  background-color: rgb(255, 201, 14);
  color: #0d0d0d;
  text-align: center;
  padding: 30px;
  font-family: Metropolis;
  font-size: 13px;
}

.container {
  width: 80%;
  margin: 0 auto;
}


.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;

}


.col-4 {
  width: calc(100% / 3);
}


.col-12 {
  width: 100%;
}



/* desktop responsive - xs */
@media only screen and (max-width:575px) {
  .container-xs {
    width: 80%;
    margin: 0 auto;
  }

  .container-xs-fluid {
    width: 100%;
    padding: 0 15px;

  }

  .col-xs-4 {
    width: calc(100% / 3);
  }


  .col-xs-12 {
    width: 100%;
  }

  .nav__menu_bar {
    display: block;

  }

  .menubar {
    display: block;
  }

  .logo {
    width: 150px;
  }
}

/* phone responsive - sm */
@media only screen and (min-width:576px) {
  .container-sm {
    width: 80%;
    margin: 0 auto;
  }

  .container-sm-fluid {
    width: 100%;
    padding: 0 15px;

  }

  .col-sm-4 {
    width: calc(100% / 3);
  }


  .col-sm-12 {
    width: 100%;
  }

}

/* tablet responsive - md */
@media only screen and (min-width:768px) {
  .container-md {
    width: 80%;
    margin: 0 auto;
  }

  .container-md-fluid {
    width: 100%;
    padding: 0 15px;

  }


  .col-md-4 {
    width: calc(100% / 3);
  }

  .col-md-12 {
    width: 100%;
  }

}

/* desktop responsive - lg */
@media only screen and (min-width:992px) {
  .container-lg {
    width: 80%;
    margin: 0 auto;
  }

  .container-lg-fluid {
    width: 100%;
    padding: 0 15px;

  }


  .col-lg-4 {
    width: calc(100% / 3);
  }

  .col-lg-12 {
    width: 100%;
  }

}


.swiper__body {
  padding: 10px;
  background: rgba(255, 255, 255, 0.72);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

